@use 'sass:math';

// grayscale
$black: #000;
$dim: #0A0B0B;
$gray-0: #414547;
$gray-1: #8B8B8B;
$gray-2: #B2B2B2;
$gray-3: #D0D0D0;
$gray-4: #E5E5E5;
$paper: #F1F1F1;
$white: #FFF;
$purple-dim: #3C1E87;
$purple: #8D57FF;
$purple-light: #C1A8FF;

/* stylelint-disable selector-pseudo-class-no-unknown */
/* stylelint-disable property-no-unknown */
:export {
  black: $black;
  dim: $dim;
  gray-0: $gray-0;
  gray-1: $gray-1;
  gray-2: $gray-2;
  gray-3: $gray-3;
  gray-4: $gray-4;
  paper: $paper;
  white: $white;
  purple: $purple;
}

/* stylelint-enable property-no-unknown */
/* stylelint-enable selector-pseudo-class-no-unknown */
