@use "sass:map";
@use "sass:color";
@use "@/assets/styles/scss/modules/palette.module.scss" as palette;
@use "@/assets/styles/scss/effects/gradient.module.scss" as gradient;

@mixin large($radius: 0, $prefix: "large-", $bg-color, $border-color: transparent) {
  $bg-size: (
    x: 239.4%,
    y: 460.56%,
  );
  $bg-point: (
    x: 87.95%,
    y: 158.76%,
  );
  $border-size: (
    x: 178.35%,
    y: 2791.39%,
  );
  $border-point: (
    x: 98.48%,
    y: 116.7%,
  );
  $bg-steps: color.change($bg-color, $alpha: 0.5) 0% 0%, #{palette.$white} 57.29%, #{palette.$white} 100%;
  $border-steps: #{$border-color} -47%, color.adjust(color.change($border-color, $alpha: 0), $lightness: 30%) 100%;
  $bg-gradient: var(
    --#{$prefix}gradient,
    gradient.radial(
      $size: $bg-size,
      $point: $bg-point,
      $steps: $bg-steps,
    )
  );
  $border-gradient: var(
    --#{$prefix}gradient,
    gradient.radial(
      $size: $border-size,
      $point: $border-point,
      $steps: $border-steps,
    )
  );
  $filter: var(
    --#{$prefix}filter,
    drop-shadow(0 4px 4px color.change(palette.$black, $alpha: 0.25))
      drop-shadow(31px 18px 22px color.change(palette.$black, $alpha: 0.05))
      drop-shadow(14px 8px 16px color.change(palette.$black, $alpha: 0.09))
      drop-shadow(3px 2px 9px color.change(palette.$black, $alpha: 0.1))
  );
  $shadow: var(--#{$prefix}shadow, 0 4px 4px color.change(palette.$black, $alpha: 0.25));

  @include use($radius, $bg-gradient, $border-gradient, $filter, $shadow);
}

@mixin medium($radius: 0, $prefix: "medium-", $bg-color, $border-color: transparent) {
  $bg-size: (
    x: 510.75%,
    y: 2938.57%,
  );
  $bg-point: (
    x: 134.2%,
    y: 296.27%,
  );
  $border-size: (
    x: 178.35%,
    y: 2791.39%,
  );
  $border-point: (
    x: 98.48%,
    y: 116.7%,
  );
  $bg-steps: color.change($bg-color, $alpha: 0.5) 0% 0%, #{palette.$white} 57.29%, #{palette.$white} 100%;
  $border-steps: #{$border-color} -47%, color.adjust(color.change($border-color, $alpha: 0), $lightness: 30%) 100%;
  $bg-gradient: var(
    --#{$prefix}gradient,
    gradient.radial(
      $size: $bg-size,
      $point: $bg-point,
      $steps: $bg-steps,
    )
  );
  $border-gradient: var(
    --#{$prefix}gradient,
    gradient.radial(
      $size: $border-size,
      $point: $border-point,
      $steps: $border-steps,
    )
  );
  $filter: var(
    --#{$prefix}filter,
    drop-shadow(0 4px 4px color.change(palette.$black, $alpha: 0.25))
      drop-shadow(56px 32px 26px color.change(palette.$black, $alpha: 0.01))
      drop-shadow(31px 18px 22px color.change(palette.$black, $alpha: 0.05))
      drop-shadow(14px 8px 16px color.change(palette.$black, $alpha: 0.09))
      drop-shadow(3px 2px 9px color.change(palette.$black, $alpha: 0.1))
  );
  $shadow: var(--#{$prefix}shadow, 0 2px 2px color.change(palette.$black, $alpha: 0.25));

  @include use($radius, $bg-gradient, $border-gradient, $filter, $shadow);
}

@mixin small($radius: 0, $prefix: "small-", $bg-color, $border-color: transparent) {
  $border-size: (
    x: 178.35%,
    y: 2791.39%,
  );
  $border-point: (
    x: 98.48%,
    y: 116.7%,
  );
  $bg-steps: #{$bg-color} 9.53%, color.change($bg-color, $alpha: 0) 171.25%;
  $border-steps: #{$border-color} -47%, color.adjust(color.change($border-color, $alpha: 0), $lightness: 30%) 100%;
  $bg-gradient: var(
    --#{$prefix}gradient,
    gradient.linear(
      $deg: 323.32deg,
      $steps: $bg-steps,
    )
  );
  $border-gradient: var(
    --#{$prefix}gradient,
    gradient.radial(
      $size: $border-size,
      $point: $border-point,
      $steps: $border-steps,
    )
  );
  $filter: var(
    --#{$prefix}filter,
    drop-shadow(0 4px 4px color.change(palette.$black, $alpha: 0.25))
      drop-shadow(31px 18px 22px color.change(palette.$black, $alpha: 0.05))
      drop-shadow(14px 8px 16px color.change(palette.$black, $alpha: 0.09))
      drop-shadow(3px 2px 9px color.change(palette.$black, $alpha: 0.1))
  );
  $shadow: var(--#{$prefix}shadow, 0 2px 2px color.change(palette.$black, $alpha: 0.25));

  @include use($radius, $bg-gradient, $border-gradient, $filter, $shadow);
}

@mixin use($radius: 0, $bg-gradient, $border-gradient, $filter, $shadow) {
  background-image: $bg-gradient;
  box-shadow: $shadow;
  border-radius: $radius;
  filter: $filter;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-image: $border-gradient;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    border-radius: calc(#{$radius} + 1px);
  }
}
