@use 'modules/theme.module.scss' as theme;
@import 'variables';
@import 'libs/normalize';
@import 'libs/typography';
@import 'libs/article';
@import 'libs/box';
@import 'libs/button';

@include normalize;
@include typography;

html,
body {
  height: 100vh;
  color: #{theme.$primary-text-color};
  background-color: #{theme.$primary-background-color};
}

#app {
  position: relative;
  height: 100vh;
}
