@use 'modules/theme.module.scss' as theme;
@use 'modules/acceleration.module.scss' as acceleration;
@import 'variables';
@import 'libs/normalize';
@import 'libs/typography';
@import 'libs/article';
@import 'libs/box';
@import 'libs/button';
@include normalize;
@include typography;

html,
body {
  min-height: 100vh;
  color: #{theme.$primary-text-color};
  background-color: #{theme.$primary-background-color};
}

#app {
  position: relative;
  height: 100%;

  &,
  & * {
    @include acceleration.use;
  }
}
